@import 'media';
@import 'animations';
// SASS VARIABLES //
$font-stack: 'Open Sans', sans-serif;
// PALLETTE //
$bloo-white: white;
$bloo-light-grey: #f8f9fa;
$bloo-blue: #00a0d2;
$bloo-grey: #949eb6;
$bloo-orange: #ffbe5d;
$bloo-green: #73e999;
// SASS MIXINS //
@mixin blue-gradient {
background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, $bloo-blue, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, $bloo-blue, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}

@mixin cover-bg {
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

@mixin subtitle-base-styles {
     font-weight: 400;
     line-height: 1.50;
}

@mixin feature-card-styles {
     display: flex;
    margin-top: -.75rem;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.05), 0 5px 20px 0 rgba(0,0,0,.06), 0 8px 40px 0 rgba(0,0,0,.04);
    padding: 30px;
    border-radius: 10px;
    border: solid 3px;
    border-color: rgba(148,158,182,.2);
}

@mixin button-styles {
     background-color: #fff;
     color: #363636;
     cursor: pointer;
     justify-content: center;
     padding-bottom: calc(.75em - 1px);
     padding-left: .75em;
     padding-right: .75em;
     padding-top: calc(.75em - 1px);
     text-align: center;
     white-space: nowrap;
     border-radius: 5px;
}

// STYLES //
body {
     font-family:$font-stack;
}

p {
     padding: 10px 0px 10px 0px;
     line-height: 1.9rem;
     font-size: 1em;
     line-height: 1.9rem;
     color: $bloo-grey;
}

.body-content {
     &__feature-caption {
          padding: 50px 0px 0px 0px;
     }
     &--white {
          background-color: $bloo-white;
     }
     &--grey {
          background: url('/build/images/BlooGreyBg.jpg') no-repeat;
          height: 145vh;
     }
}

.navbar {
     padding: 30px;
     &__navbar-brand {
          align-items: stretch;
          display: flex;
          flex-shrink: 0;
          min-height: 3.25rem;
     }
     &__navbar-item {
          flex-grow: 0;
         flex-shrink: 0;
         color: white;
         line-height: 1.5;
         padding: .5rem .75rem;
         position: relative;
     }
     &__navbar-link {
          font-weight: bold;
          cursor: pointer;
          color: white;
          margin: 0px 10px 0px 10px;
          @include link-hover;
     }
     &__navbar-link:hover {
          color: $bloo-blue!important;
     }
     &__navbar-item img {
          max-height: 3rem;
     }
}

.hero {
     background: url('/build/images/BlooHeroBg.jpg') no-repeat center center;
     @include cover-bg;
     height: 100vh;
     &__hero-body {
          flex-grow: 1;
         flex-shrink: 0;
         padding: 5rem 1.5rem;
     }
     &__title {
          color: #fff;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.125;
          width: 50%;
     }
     &__subtitle {
          color: #fff;
          margin: 15px 0px 30px 0px;
          font-size: 1.5rem;
          line-height: 1.125;
          width: 80%;
          @include subtitle-base-styles;
     }
     &__button {
          @include button-styles;
          font-size: 1.25rem!important;
          background-color: #0FAEE0;
          color: $bloo-white;
          @include button-hover;
     }
     &__button:hover {
          background-color: $bloo-blue;
          color: $bloo-white;
     }
}

.container {
     padding: 30px;
     &__subtitle {
          color: $bloo-blue;
          font-size: 1.75rem;
          @include subtitle-base-styles;
     }
}

.feature-card {
     @include feature-card-styles;
     &__subtitle {
          @include subtitle-base-styles;
     &--blue {
          font-size: 1.35rem;
          font-weight: bold;
          color: $bloo-blue;
     }
     &--orange {
          font-size: 1.35rem;
          font-weight: bold;
          color: $bloo-orange;
     }
     &--green {
          font-size: 1.35rem;
          font-weight: bold;
          color: $bloo-green;
     }
     }
}

.feature-list-item {
     &--center {
          margin: 50px 0px 50px 0px;
          text-align: center;
     }
}

.testimonials {
     &__card {
          @include feature-card-styles;
     }
     &__card--first {
          margin-right: 1.6rem!important;
          @include feature-card-styles;
     }
     &__image {
          display: inline-block;
          width: 4rem;
         height: 4rem;
          border-radius: 50%;
         margin-right: .5rem;
     }
}

.pricing {
     &__card {
          background-color: $bloo-light-grey;
          @include feature-card-styles;
          width: 50%;
     &--first {
          background-color: $bloo-light-grey;
          margin-right: 1.6rem!important;
          @include feature-card-styles;
          width: 50%;
     }
     &__title {
          color: $bloo-blue;
          font-size: 1.75rem;
          &--small {
               color: $bloo-blue;
               font-size: 4rem;
          }
     }
     &__lead {
          padding: 0px 30px 0px 30px;
          font-weight: bold;
          &--orange {
               color: $bloo-orange;
          }
          &--green {
               color: $bloo-green;
          }
     }
     &__list {
          padding: 50px 0px 50px 0px;
          &__item {
               color: $bloo-grey;
               align-items: center;
               margin-bottom: .5rem;
          }
     }
     &__button {
          text-align: center;
     }
     }
}

.footer {
     margin: 50px 0px 0px 0px;
     color: $bloo-white;
     font-weight: bold;
     background: url('/build/images/FooterBg.jpg') no-repeat;
     height: 60vh;
     &__wrapper {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          max-width: 960px;
          width: 960px;
          margin: 0 auto;
          position: relative;
          padding: 30px;
          &__column {
               margin: 0px 75px 0px 0px;
               // justify-content: space-between;
               display: flex;
               flex-direction: column;
               &--last {
                    margin: 0px;
                    width: 40%;
               }
          }
          &--center {
               display: flex;
               justify-content: center;
               height: 5vh;
               align-items: center;
          }
     }
     &__header {
          color: $bloo-grey;
          margin-top: 0px;
         margin-bottom: 35px;
         font-weight: bold;
         font-size: 18px;
         line-height: 1.5;
     }
     &__link {
          margin-bottom: 15px;
          font-weight: normal;
     }
}
